<template>
<div class="geral">
  <div class="flex flex-col justify-center items-center">
    <div class="w-full max-w-xs bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

      <div v-if="generalError != null">
        <p class="text-red-500 text-xs italic">{{'Error: ' + generalError}}</p>
      </div>

      <div v-if="generalError == null">
        <img src="/avataaars.png">
        <br>
        <p><b>Email: </b>{{email}}</p>
        <p><b>Username: </b>{{username}}</p>
      </div>

    </div>
  </div>
</div>
</template>

<script>
export default {

    data: () => {return { username:null,
                          email:null,
                          generalError:null }},

    async beforeMount() {
        try {
            const response = await this.$axios.$get('/600/users/' + this.$route.params.id, {});
            this.username = response.firstname;
            this.email = response.email;
        } catch (err) {
            this.generalError = err.response.data;
            // this.$router.push('/sign-in');
        }
    }
}
</script>

<style>
  .geral {
      width: 100vw;
      height: 100vh;
      background: #6C7A89;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center
  }
</style>
