<template>
<div class="geral">
  <div class="flex flex-col justify-center items-center">
    <div class="w-full max-w-xs bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <form>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input id="email" v-model="email" type="text" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                 :class="{'border-red-500' : !isEmailValid, 'border-green-500' : isEmailValid && email !==''}">
          <p v-if="!isEmailValid" class="text-red-500 text-xs italic">{{emailError}}</p>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input id="password" v-model="password" type="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                 :class="{'border-red-500' : !isPasswordValid, 'border-green-500' : isPasswordValid && password !==''}">
          <p v-if="!isPasswordValid" class="text-red-500 text-xs italic">{{passwordError}}</p>
        </div>

      </form>
      <div>
        <p v-if="generalError != ''" class="text-red-500 text-xs italic">{{'Error: ' + generalError}}</p>
      </div>
      <br>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="clear">
          Clear
        </button>
        <button class="text-white font-bold py-2 px-4 rounded"
                :class="{'bg-blue-500 focus:outline-none focus:shadow-outline':isEmailValid && isPasswordValid && email != '' && password != '', 'bg-blue-300 opacity-50 cursor-not-allowed':!isEmailValid || !isPasswordValid || email=='' || password == ''}" type="button" @click="submit">
          Sign In
        </button>
      </div>
      <br>
      <div>
        <p>Not an user yet? <a href="/sign-up" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Sign-up now!</a></p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {

  data: () => {return {email: '',
                       isEmailValid: true,
                       emailError: '',

                       password: '',
                       isPasswordValid: true,
                       passwordError: '',

                       generalError: '',
                       }},
  watch: {
    email: function email() {

        if (this.email === '') {
            this.isEmailValid = true;
            return;
        }

        const regex = /^([\w-]+\.)*[\w\- ]+@([\w\- ]+\.)+([\w-]{2,3})$/i;
        if (this.email.match(regex)) {
            this.isEmailValid = true;
        }

        else {
            this.isEmailValid = false;
            this.emailError = 'Digite um e-mail no formato válido. Exemplo: email@dominio.com';
        }
    },

    password: function password() {

        if (this.password === '') {
            this.isPasswordValid = true;
            return;
        }

        const regex = /^[a-z0-9]+$/i;
        if (this.password.match(regex) && this.password.length > 7 && this.password.length < 33) {
            this.isPasswordValid = true;
        }

        else {
            this.isPasswordValid = false;
            this.passwordError = 'Digite uma senha alfanumérica, contendo no mínimo 8 caracteres e no máximo 32.';
        }
    },
  },
  methods: {

    clear() {
        this.email    = '';
        this.password = '';
        this.generalError = '';
    },

    async submit() {
        try {
            const r = await this.$axios.post('/login', {
                                    'email':this.email,
                                    'password':this.password});
            const id = JSON.parse(atob(r.data.accessToken.split(".")[1])).sub;
            this.$axios.setToken(r.data.accessToken, "Bearer");
            this.$router.push('users/'+id);
        }
        catch(err) {
            this.generalError = err.response.data;
        }
    },
  },
}
</script>

<style>
  .geral {
      width: 100vw;
      height: 100vh;
      background: #6C7A89;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center
  }
</style>
